---
	import { ClientRouter } from 'astro:transitions';
	import Header from '../components/Header.astro';
	import '@fontsource-variable/quicksand'
	import '../styles/global.css';
import Footer from '../components/Footer.astro';

	const { title, currentPath, watermark } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{title}</title>
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Camilo Mora" />
		<meta name="keywords" content="portafolio, ingeniería de sistemas, desarrollo web, software, Camilo Mora, programador, proyectos, frontend, backend, movil, fullstack">
		<link rel="icon" type="image/png" href="/CM.png" />
		<meta name="robots" content="index, follow">
		<meta name="description" content="Portafolio profesional de Camilo Mora, estudiante de Ingeniería de Sistemas. Proyectos, habilidades y experiencia en desarrollo web y software.">
		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
	</head>
	<body class="overflow-y-hidden">
		<div class="absolute bottom-0 -z-10 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_0.5px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_0.5px,transparent_1px)] bg-[size:6rem_6rem]"></div>
		<div class="absolute inset-0 -z-20 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#030712_40%,#0B3B1A_100%)]"></div>
		<div class="hidden md:flex animate-spawn absolute -bottom-12 lg:-bottom-15 -left-3 z-10 text-[140px] lg:text-[165px] text-[#9e9e9c]/5 select-none font-serif ">{watermark}</div>
		<div class="md:hidden animate-spawn absolute top-10 right-5 z-10 text-[50px] text-[#9e9e9c]/10 select-none font-serif ">{watermark}</div>
		<Header currentPath={currentPath} /> 
		<slot />
		<Footer currentPath={currentPath} /> 
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
		overflow: hidden;
		color-scheme: light dark;
		font-family: 'Quicksand Variable', sans-serif;
		font-weight: 100;
		scrollbar-width: thin;
    scrollbar-color: #4ade8011 transparent;
	}
	body::selection {
		color: white;
		background-color: gray;
	}
</style>
